.petPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageAndName {
  width: 30%;
  padding-left: 4%;
}

.imageAndName img {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
}

.petDetailsContiner {
  height: 500px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.detail {
  background-color: var(--color-gray);
  border: 5px dotted var(--color-dark-gray);
  color: white;
  width: 18vw;
  height: 15vh;
  margin: 20px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail h6 {
  color: var(--color-yellow);
  font-weight: bold;
}
