.petsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.petImage {
  height: 200px;
  /* width: 400px; */
}

.selectPetsList select {
  width: auto;
  padding: 2px;
  margin-left: 5px;
}

.favIcon {
  left: unset !important;
  padding: 3px !important;
}
